@font-face {
  font-family: 'Kdam';
  src: url('../../fonts/Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf');
}

@font-face {
  font-family: 'Anurati';
  src: url('../../fonts/ANURATI_Free_Font/Anurati-Regular.otf');
}

@font-face {
  font-family: 'Kanit';
  src: url('../../fonts/Kanit/Kanit-Bold.ttf');
}

.NavBar {
  background: #001F1D;
  height: 80px;
  width: 100%;
  position: static;
  z-index: 999;
  opacity: 0.9;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.NavBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar nav ul li {
  text-decoration: none;
  text-decoration-line: none;
  display: inline-block;
  margin: 1.5vw;
}

.NavBar nav ul li a {
  text-decoration: none;
  text-decoration-line: none;
  color: white;
  font-size: 110%;
}

.NavBar a:hover {
  text-decoration: none;
  text-decoration-line: none;
  border-bottom: 5px double #8c1cd1;
}

.NavBar .Navigation {
  font-family: 'Kanit';
}

.NavBar .MobileNavigation {
  display: none;
}

.NavBar .MobileNavigation .hanvis {
  font-family: 'Anurati';
  font-weight: 900;
  font-size: 140%;
  text-decoration-line: none;
  color: white;
  margin-left: 38px;
  float: left;
}

.NavBar .MobileNavigation .hanvis:hover {
  text-decoration: none;
  text-decoration-line: none;
  border-bottom: none;
  color: #8c1cd1;
}

@media (max-width: 990px) {
  .NavBar .Navigation {
    display: none;
  }

  .NavBar .MobileNavigation {
    font-size: 90%;
    font-family: 'Kdam';
    display: flex;
    align-items: center;
    z-index: 999;
  }

  .NavBar .MobileNavigation .Hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  .NavBar nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background: #001F1D;
    border-top: 2px solid #8c1cd1;
    
  }

  .NavBar nav ul li {
    justify-content: center;
    align-items: center;
  }

  .NavBar {
    opacity: 1;
  }

  .NavBar a:hover {
    text-decoration: none;
    text-decoration-line: none;
    border-bottom: none;
    color: #8c1cd1;
  }
}