img{max-width:100%;}
a{color:inherit; text-decoration:none;}

.in_header .logo{ display: inline-block; width: 208px; }

@media (min-width: 1200px) {
    .in_header .nav_wrap { margin-top: -20px; display:flex; align-items: flex-end; justify-content: space-between;}
    .in_header .navbar{ margin: 20px; padding-right: 10%;}
    .in_header .navbar>li{display: inline-block; padding-left: 40px; padding-top:40px; list-style: none; font-size: 1.2rem;}
}

#content_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 126px;
    background-image:linear-gradient(110deg, red, orange, yellow, green, blue, navy, indigo);
}

#main .hanvis_picture {
    position: fixed;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -100%);
}

#main .hanvis_game {
    position: fixed; 
    left: 50%;
    top: 78%;
    width: 32px;
    height: 32px;
    z-index: 99999999999;
    color: transparent;
    cursor: pointer;
}

#main .start_survey {
    position: fixed;
    left: 50%;
    top: 40%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translate(-50%, -50%) scale(1.5);
}

#main .ads {
    position: fixed;
    right: -7%;
    top: 56%;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    transform: translate(0%, -50%) scaleX(0.4) scaleY(2);
}
