ul {list-style:none; padding-left:0px;}

@font-face {
  font-family: 'SCDream5';
  src: url('./fonts/S-Core_Dream_OTF/SCDream5.otf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  position: relative;
  display: block;
  width: 100%;
  padding:10px 0;
  font-size:20px;
  background-color: #001F1D;
  text-align:center;
  color:#fff;
  display: flex;
  justify-content: space-between;
}

.Header .Header-logo {
  margin-left: 60px;
}

.Header .Header-root {
  max-width: 160px;
}

.Header .Header-nav {
  display: block;
  margin-top: 20px;
  margin-right: 100px;
}

.Header .Header-nav>a {
  margin-left: 100px;
}

.Header .Header-link {
  max-width: 150px;
}

.Starter {
  position: relative;
  display: block;
  justify-content: center;
  margin-top: 20px;
  margin-left: max(0px, 50%);
  transform: translateX(-50%);
}

.Starter .Starter-explain {
  position: relative;
  overflow: auto;
  border: 5px solid #855600;
  background-color: bisque;
  text-align: center;

  height: 350px;
  min-width: 400px;

  justify-content: center;

  display: flex;
  align-items: center;
}

.Starter .Starter-explain .Starter-explain-text {
  
  align-items: center;
  font-family: 'SCDream5';
}

.Starter .Starter-next-button {
  position: relative;
  width: 25vw;
  margin-top: 20px;
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1450px;
  background-color: #EDD3ED;
  background-size: cover;
}

.Eagle {
  position: relative;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.Eagle-picture {
  max-width: 50vw;
  max-height: 50vh;
}
